.box{
    background-color: #fff;
    width: 40vw;
    box-shadow:  0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    margin: 0 auto;
    margin-top: 8rem;
    padding: 2rem;
    transition: .3s ease-in-out all;
    text-align: center;
}
.box h2{
    margin-top: 0;
}

.grocery_form{
    margin: 2rem;
}

.grocery_form input[type='text']{
    width: 70%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    transition: .3s ease-in-out all;
}

.grocery_form input[type='submit']{
    cursor: pointer;
    color:white;
    background-color: #06b6d4;
    padding: 0.375rem 0.75rem;
    border: 1px solid #06b6d4;
    transition: .3s ease-in-out all;
}
.grocery_form input[type='submit']:hover{
    background-color: #0e7490;
    border: 1px solid #0e7490;
}
.grocery_list{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    gap: 1rem;
}
.list_item div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list_item div p{
    margin: 0;
    text-transform: capitalize;
}


.btn{
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    transition: .3s ease-in-out all;
    margin-left: 5px;
}

.btn_dlt{
    background-color: red;
    border: 1px solid red;
    color:white;
    transition: .3s ease-in-out all;
}

.btn_edit{
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color:white;
    transition: .3s ease-in-out all;
}

.btn:hover{
    background-color: #0e7490;
}

@media screen and (max-width:800px) {
    .box{
        width: 80vw;
    }
}