/* Navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    background-color: white;
}

.mobileNav{
    display: none;
}

nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

nav ul li{
    float: left;
    transition: .3s ease-in-out all;
}

nav ul li a{
    text-transform: capitalize;
    color: black;
    display: block;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  transition: .3s ease-in-out all;
}

@media screen and (max-width:800px) {
    nav{
        display: none;
    }
    .mobileNav{
        display: block;
        height: 56px;
        border-bottom: 1px solid gray;
    }
    .menu{
        background-color: white;
        position: absolute;
        width: 100vw;
        transition: .3s ease-in-out all;
        top:-200px;
        z-index: 1;
    }
    .mobileHeader{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        top:8px;
        z-index: 2;
    }
    .nav-toggle {
        font-size: 1.5rem;
        color: #49a6e9;;
        background: transparent;
        border-color: transparent;
        transition: .3s ease-in-out all;
        cursor: pointer;
      }
    .menu ul li{
        float:none;
    }
}